* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  font: 400 16px/24px "Apercu", sans-serif;
  color: rgba(150, 150, 150, 0.9);
  overflow-x: clip;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
}

#layout_wrapper {
  overflow: hidden;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  line-height: 1.5;
  margin: 0 0 10px;
  color: #1D4354;
  font-family: "CloverDisplay-Bold", sans-serif;
}

.img-responsive {
  width: 100%;
  height: auto;
  display: block;
}

.pre-word-line {
  white-space: pre-line;
}

.list-none {
  margin: 0;
  padding: 0;
  list-style: none;
}

.word-break {
  word-break: break-word;
}

.d-block {
  display: block;
}

.no-padding {
  padding: 0 !important;
}

.is-scrollable {
  overflow: hidden;
}

input[type=submit],
button {
  cursor: pointer;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
}

img {
  vertical-align: top;
  border-style: none;
}

*:focus {
  outline: none;
}

.transition {
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}

.w-100 {
  width: 100%;
}

.error-msg {
  color: red;
  margin-top: 15px;
  display: block;
}

.error-msg:first-letter {
  text-transform: capitalize;
}

#wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1408px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
@media (max-width: 1600px) {
  .container {
    max-width: 1230px;
  }
}

.container.fluid {
  width: 100%;
  max-width: none;
}

.container:after {
  display: block;
  clear: both;
  content: "";
}

#main {
  width: 100%;
  min-height: calc(100vh - 110px);
  padding: 0 0 50px;
}

.required-field {
  color: #db0000;
  font-style: normal;
  margin-left: 5px;
  font-size: 17px;
}

a {
  text-decoration: none;
  color: #1D4354;
}

.pointer {
  cursor: pointer;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.direction-column {
  flex-direction: column;
}

.direction-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.items-center {
  align-items: center;
}

.text-center {
  text-align: center;
  position: relative;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.flex-text-center {
  justify-content: center;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.m-0 {
  margin: 0;
}

.btn-faded {
  opacity: 0.5;
}

.flex-between-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

input,
button,
textarea {
  font: 400 16px/20px "CloverDisplay-Regular", sans-serif;
}

input,
textarea,
select {
  width: 100%;
  height: 52px;
  padding: 0 20px;
  font-size: 16px;
  background: #FCFCFC;
  border: 1px solid #DBDBDB;
  border-radius: 5px;
  resize: none;
}
@media (max-width: 1600px) {
  input,
textarea,
select {
    height: 45px;
  }
}

textarea {
  height: 188px;
  padding-top: 20px;
}
@media (max-width: 1600px) {
  textarea {
    height: 120px;
  }
}

button:focus,
textarea:focus,
input:focus,
select,
textarea {
  outline: none;
}

textarea::-moz-placeholder, input::-moz-placeholder {
  color: rgba(29, 67, 84, 0.5);
}

textarea:-ms-input-placeholder, input:-ms-input-placeholder {
  color: rgba(29, 67, 84, 0.5);
}

textarea::placeholder,
input::placeholder {
  color: rgba(29, 67, 84, 0.5);
}

textarea,
input,
input[type=text],
input[type=email],
input[type=password],
input[type=tel],
input[type=number],
input[type=date],
input[type=string],
select {
  color: rgba(29, 67, 84, 0.5);
}

input[type=date] {
  text-transform: uppercase;
  background: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

select {
  outline: none;
}

.table {
  width: 100%;
  border: none;
  border-collapse: collapse;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}/*# sourceMappingURL=main.css.map */